/* Cosas generales */
.padding0 {padding:0;}
.container {width:100%;}
body {margin-bottom:130px;}

/* Cosas del drag & drop */
.ui-state-hover {background:green;}
.ui-state-default, .placeholder, .ui-sortable-helper {background:green;}
.remove-item {font-size:100px;}

/* Footer */
.footer-h3 {color:white;}
.footer-descargas {list-style:none;}
.footer-descargas>li {
    padding:10px;
    float:left;
    
}
.footer-descargas button {width:120px;}
.lista-progreso {}
.barra-progreso {}

.altura-progreso {height:20px;}

.altura-footer {
    min-height:130px;
}

/*
.barra-cola {
    margin-bottom:0;
    height:30px;
    padding:0;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow:hidden;
}
*/


/* Estilo cola de descarga */

/* Esto es de prueba */
#cola-descarga {
    min-height:100px;
    background:red;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#cola-descarga ul { margin: 0; padding: 1em 0 1em 3em; }


/* Barra de progreso */

#remove-item {
    position:absolute;
    margin-top:6px;
    margin-left:10px;
}

.progreso {
    height:30px;
    margin-bottom: 0;
        
}

.barra-progreso {

}



.filename-estilo, .filesize-estilo, .filedate-estilo {
    position:absolute;
    margin-top:5px;     
}

.filesize-estilo, .filedate-estilo {right:0;}

.filename-estilo {
    left:0;
    margin-left:30px;
    color:black;
}

.filesize-estilo {
   margin-right:100px; 

}

.filedate {

}




